.dialogBackground{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.dialogBox {
    background-color: #fff;
    color: black;
    padding: 1.5rem;
    padding-top:4px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    max-width: 90%;
    min-width:  min(400px,80svw);
    position: relative;
    z-index: 1001;
}

.dialogHeader {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: left;
    width:100%;
    border-bottom: #2c2c2c 1px solid;
}

.dialogContent {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 1.4;
    text-align: center;
}

:global(.darkMode) .dialogBackground {
    background-color: rgba(99, 99, 99, 0.362);
}

:global(.darkMode) .dialogBox {
    background-color: #2c2c2c;
    color: #f0f0f0;
    box-shadow: 0 0 120px rgba(255, 255, 255, 0.2);
}
:global(.darkMode) .dialogHeader {
    color: #f0f0f0;
    border-bottom: #f0f0f0 1px solid;

}
:global(.darkMode) .dialogContent {
    color: #d0d0d0;
} 

