.container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    text-align: center;
    z-index: 9999;
    background-color: lightblue;
    color: black;
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
    max-width: 80vw;
    box-shadow: 0 0 10px grey;
    animation:prijeti 1.2s linear;
     
}
@keyframes prijeti {
    0% {     transform: translate(-50%, -50%)scale(.2); opacity: 0; animation-timing-function: cubic-bezier(0.2, 0.6, 0.1, 1);}
    7% {     transform: translate(-50%, -50%)scale(1); opacity: 1; }
    100% {     transform: translate(-50%, -50%)scale(5); opacity: 0;}

}
@keyframes treseni {
    0% {     transform: translate(-50%, -50%)rotate(0deg); }
    25% {     transform: translate(-50%, -50%)rotate(5deg); }
    50% {     transform: translate(-50%, -50%)rotate(-5deg); }
    75% {     transform: translate(-50%, -50%)rotate(5deg); }
    100% {     transform: translate(-50%, -50%)rotate(0deg); }
    
}